
#image {
    width: 100%;
    height: 40vh;
    /* margin-top: -2%; */
}

.contenu{
    background-image: url(https://3.bp.blogspot.com/-zjKE76f8HE8/WNNUTvNLbVI/AAAAAAAAEJ4/rrqxQRZtfpQlyaMVTHVsjBiIUn52aaCNgCLcB/s1600/Fond%2Bd%2527%25C3%25A9cran%2Bd%25C3%25A9grad%25C3%25A9%2Bcss%2B6.png);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat; 
}
.fond{
    /* background-image: url(https://image.freepik.com/photos-gratuite/fond-texture_1404-59.jpg); */
    /* background-color:lightgrey; */
    background-attachment: fixed;
    
}
h1{
    /* background-color: deepskyblue; */
    background-size: cover;
    color: white;
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
    font-size: 30px; 
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 700;
    text-align: center;
    color: red;   
    text-shadow: 2px 0.5px white
}
.entete{
    /* background-image: url(https://image.freepik.com/photos-gratuite/fond-texture_1404-59.jpg); */
    background-attachment: fixed;
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
    font-size: 100px; 
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 700;
    text-align: center;
    color: rgb(243, 247, 4);   
    text-shadow: 3px 2px black
}